---
import BlogPost from "../components/BlogPost.astro";
import type { CollectionEntry } from "astro:content";
type Props = {posts: CollectionEntry<'posts'>[]} 
const {posts} = Astro.props;
---

<ul class="px-2 md:px-20 max-w-4xl mx-auto pt-10">
    {
      posts.map((post) => (
        <li class="max-w-full flex flex-col items-center justify-center">
          <BlogPost
            title={post.data.title}
            location={post.data.location}
            link={`/posts/${post.slug}` || '#'}
            tags={post.data.tags}
            image={post.data.image.src}
            alt={post.data.image?.alt}
          />
        </li>
      ))
    }
</ul>
